<div class="row">
    <div class="col-md-12">
        <form name="loginForm" enterTarget="loginButton">
            <label for="username">Gebruikersnaam:</label>
            <input type="text" id="username" focus ng-model="user.username" /><br />
            <label for="password">Wachtwoord</label>
            <input type="text" id="password" ng-model="user.password"/><br />
            <button type="submit" class="btn btn-primary" id="loginButton" ng-click="login()">Meld aan</button>
        </form>
    </div>
</div>